name: Global Monopoly Update

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Python Setup
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install
        run: pip install huggingface_hub jinja2 requests

      - name: Run Engine
        run: |
          python engine.py
          python generate.py

      - name: Deploy
        run: |
          git config --global user.name "MonopolyBot"
          git config --global user.email "bot@ai-monopoly.com"
          git add .
          git commit -m "Auto-update $(date +'%Y-%m-%d')" || exit 0
          git push